body{
    height: 200dvh;
}
.navbar{
    width: 1728px;
    height: 171px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: absolute;
}

.navbar h1{
    margin-left: 50px;
}